h1,
h2,
span {
  color: #1d2d50;
  font-family: "Oxygen", sans-serif;
}

h1 {
  font-size: 50px;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-weight: 580;
  margin-bottom: 15px;
  text-align: right;
}

ul.reset-current {
  list-style: none;
  text-align: right;
}

a:hover {
  text-decoration: none;
}

.card {
  background: transparent;
  border: none;
  font-family: "oxygen", sans-serif;
  line-height: 15px;
  margin: 0;
}

.celsiusFarenheit {
  bottom: 20px;
  font-size: 20px;
  position: relative;
  right: 12px;
}

.container {
  background-image: linear-gradient(to top, #5eaaa8 0%, #a3d2ca 100%);
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 30px;
  max-width: 600px;
  padding: 25px;
}

.current-cond {
  font-size: 15px;
}

.current-conditions div {
  text-align: left;
}

.current-conditions.row {
  margin-left: 0px;
}

.currentDayAndTime {
  font-weight: 400;
  margin-bottom: 0;
  opacity: 30%;
  text-align: center;
}

.five-day-forecast .card-body {
  padding-bottom: 5px;
  padding-top: 5px;
}

.five-day-forecast.col-12 {
  bottom: -15px;
  position: relative;
  text-align: right;
}

.footer {
  bottom: 40px;
  font-weight: 200;
  margin: 0 0 20px 0;
  position: relative;
  text-align: center;
}

.form-control {
  margin-top: 20px;
}

.inactive {
  color: #1d2d50;
  pointer-events: none;
}

.linkedin {
  bottom: 2px;
  height: 16px;
  position: relative;
  width: 16px;
}

.main-temperature {
  font-size: 50px;
  text-align: center;
}

.main-temperature.col-12 {
  margin-bottom: 15px;
}

.reset-current li {
  display: inline;
}

.weather-icon {
  height: 50px;
  width: 50px;
}
